* {
    box-sizing: border-box;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  }

  body {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Images/DXCVII.jpg);
    background-size: cover;
    background-color: #091833;
  }
  
  h1 {
    font-size: 150px;
    padding: 0 0 0 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #titlediv {
    font-size: 90px;
    color: #8c1eff;
    background-color: #ff901f;
    padding: 0 15px 0 15px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  #messagecenter {
    font-size: 50px;
    color: #ff2975;
    background-color: #d4ff32;
    padding: 0 0 0 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
  }

  #playerz {
    display: flex;
    flex-direction: row;
  }

  #player1 {
    background-color: #ff2975;
    margin: 0 0 0 480px;
  }

  #player2 {
    background-color: #00fff9;
    margin: 0 480px 0 0;
  }
  
  #gameboard {
    display: grid;
    width: 1200px;
    justify-content: center;
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-template-areas:
    "end2 hole6 hole5 hole4 hole3 hole2 hole1 end1"
    "end2 hole7 hole8 hole9 hole10 hole11 hole12 end1";
    background-color: #091833;
    border-radius: 55px;
    border: 10px solid #d4ff32;
  }

#hole-1 {
    grid-area: hole1;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

#hole-2 {
    grid-area: hole2;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

#hole-3 {
    grid-area: hole3;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

#hole-4 {
    grid-area: hole4;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

#hole-5 {
    grid-area: hole5;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

#hole-6 {
    grid-area: hole6;
    margin: 20px;
    background-color: #133e7c;
    border: 3px dashed #00fff9;
    border-radius: 50%;
    color: white;
    text-align: center;
} 

.stdholep1, .stdholep2 {
  border: 3px dashed #00fff9;
  margin: 20px;
  background-color: #133e7c;
  border-radius: 50%;
  color: white;
  font-size: 60px;
  text-align: center;
}

#hole-7 {
    grid-area: hole7;
} 

#hole-8 {
    grid-area: hole8;
} 

#hole-9 {
    grid-area: hole9;
} 

#hole-10 {
    grid-area: hole10;
} 

#hole-11 {
    grid-area: hole11;
} 

#hole-12 {
    grid-area: hole12;
} 

#player-1-container {
    grid-area: end1;
    margin: 25px;
    background-color: #133e7c;
    border: 5px solid #ff2975;
    border-radius: 25%;
    color: #d4ff32;
    font-size: 60px;
    text-align: center;
  }

#player-2-container {
    grid-area: end2;
    margin: 25px;
    background-color: #133e7c;
    border: 5px solid #00fff9;
    border-radius: 25%;
    color: #d4ff32;
    font-size: 60px;
    text-align: center;
  }
  
  #newgamebutton {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    background-color: #ff901f;
    border: 2px solid #d4ff32;
    margin-top: 30px;
    color: #8c1eff;
    outline: none;
  }

  #newgamebutton:hover {
    background-color: #8c1eff;
    color: #ff901f;
  }